.contact_container{
    display: flex;
    width: 100%;
    gap:20px;
    flex-direction: column;
    justify-content: space-between;
  height: 500px;
  background-color: white;
  border-radius: 25px;
}

.address{
 
    flex:20%;
    padding-left: 30px;
    border: 1px solid gainsboro;
    padding-top: 10px;
    border-radius: 30px;
    padding-left: 90px;
    border-bottom: 10px;
    box-shadow: 0px 5px 10px 0px rgba(184, 181, 181, 0.5);
    background-color: white;
    
}

.address:hover{
 
    flex:20%;
    padding-left: 30px;
    border: 1px solid gainsboro;
    padding-top: 10px;
    border-radius: 30px;
    padding-left: 90px;
    border-bottom: 10px;
    box-shadow: 0px 5px 20px 10px rgba(71, 71, 71, 0.5);
    background-color: white;
    transition-duration: 2s;
    
}

.email{

    flex:20%;
    border: 1px solid gainsboro;
    padding-top: 20px;
    border-radius: 30px;
    padding-left: 90px;
    box-shadow: 0px 5px 10px 0px rgba(184, 181, 181, 0.5);
    background-color: whitesmoke;
    
}

.email:hover{

    flex:20%;
    border: 1px solid gainsboro;
    padding-top: 20px;
    border-radius: 30px;
    padding-left: 90px;
    box-shadow: 0px 5px 20px 10px rgba(71, 71, 71, 0.5);
    background-color: whitesmoke;
    transition-duration: 2s;
    
}

.phone{

    flex:20%;
    border: 1px solid gainsboro;
    padding-top: 30px;
    border-radius: 30px;
    padding-left: 90px;
    box-shadow: 0px 5px 10px 0px rgba(184, 181, 181, 0.5);
    background-color: white;
}

.phone:hover{

    flex:20%;
    border: 1px solid gainsboro;
    padding-top: 30px;
    border-radius: 30px;
    padding-left: 90px;
    box-shadow: 0px 5px 20px 10px rgba(71, 71, 71, 0.5);
    background-color: white;
    transition-duration: 2s;
}
