.exp_container{
    display: flex;
    width:100%;
    gap:10px;
    padding-left: 40px;
    padding-bottom: 50px;
}
.exp_content{
    flex:1;
    padding-top: 90px;
    padding-right: 30px;
}
.exp_img{
    flex:2;
    height: 60px;
    width: 70px;
    opacity: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-radius: 30px;
    box-shadow: 10%;
    opacity: 30%;
    
}

.exp_img:hover{
    flex:2;
    height: 60px;
    width: 70px;
    opacity: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    border-radius: 30px;
    box-shadow: 10%;
    opacity: 90%;
    transition-duration: 3s;
    
}



